.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 50%;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, #fcfbc7, #fcd3e2, #bff8f8, #b3f8e8);
}

.block {
  border: 1px solid deeppink;
  border-radius: 15px;
  padding: 15px;
  //background-color: rgb(210, 250, 250);
}

.formGroup {
  display: grid;
  justify-content: center;
  grid-template-columns: 50px 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

input {
  border-radius: 10px;
  border: none;

  //   width: 50%;
}

// li {
//   margin-top: auto;
//   margin-bottom: auto;
//   display: flex;
//   justify-content: space-between;
// }

ol {
  margin-top: 50px;
}
