.form {
  display: flex;
  justify-content: center;
}
.input {
  background-color: lightgrey;
  height: 40px;
  width: 250px;
  color: deeppink;
  cursor: pointer;
  border-radius: 20px;
  font-size: large;
}
